<section class="flex flex-col justify-center items-center bg-primary_off_white py-6 px-4 xl:px-0">
  <div class="max-w-[1200px] w-full">
    <a routerLink="/" class="text-4xl font-bold">Outfitted.</a>
  </div>

  <div
    class="flex flex-col items-center w-full max-w-[1200px] max-h-[800px] rounded-lg drop-shadow-[0_0_10px_rgba(0,0,0,0.1)] bg-white my-24 p-10 "
  >
    <p class="self-end text-primary_red font-bold px-10">Log out</p>
    <div class="max-w-[400px] w-full p-5">
      <div class="flex flex-col items-center">
        <img
          class="w-[100px] h-[100px]"
          src="../../assets/Photos//Profile placeholder big.png"
          alt=""
        />
        <p class="text-2xl font-bold">Micheal</p>
      </div>
      <div class="mt-12 flex w-full justify-between">
        <div class="flex flex-col">
          <p class="font-bold text-sm md:text-base">Username:</p>
          <p class="font-bold text-sm md:text-base">Email:</p>
          <p class="font-bold text-sm md:text-base">Gender:</p>
          <p class="font-bold text-sm md:text-base">Age:</p>
        </div>

        <div class="flex flex-col">
          <p class="text-sm md:text-base">Micheal</p>
          <p class="text-sm md:text-base">Micheal312@gmail.com</p>
          <p class="text-sm md:text-base">Male</p>
          <p class="text-sm md:text-base">23</p>
        </div>

        <div class="flex flex-col">
          <p class="font-bold text-sm md:text-base">Edit</p>
          <p class="font-bold text-sm md:text-base">Edit</p>
          <p class="font-bold text-sm md:text-base">Edit</p>
          <p class="font-bold text-sm md:text-base">Edit</p>
        </div>
      </div>

    </div>
    <a href="#" class="font-bold text-primary_red mt-10">Delete Account</a>
  </div>
  <p class="text-sm font-base p-5">
    Designed and developed by <b>Hussein</b>
  </p>
</section>
