<div
class="w-full h-full max-w-[325px] max-h-[580px]
 min-w-[240px] min-h-[435px]
 rounded-[1.4rem] "
 [class]="[backgroundColor ,shadowColor]"
 >
  <div >
    <img
    class="w-full h-[70%] max-w-[325px] max-h-[410px] min-w-[240px] min-h-[410px] object-cover rounded-t-[1.4rem] drop-shadow-[0_0_3px_rgba(0,0,0,0.2)]"
    src="{{imgSource}}"
    alt="Card Image">
  </div>
  <div class="flex justify-between mt-5 p-2 overflow-y-hidden no-scrollbar">
    <div class="py-0.5 px-3 bg-primary_off_white drop-shadow-[0_3px_4px_rgba(0,0,0,0.05)] rounded-3xl" *ngFor="let tag of tags">
      {{tag}}
    </div>
  </div>
  <div class="flex justify-evenly mt-4">
    <div class="flex">
      <img src="../../assets/SVGs/Dislike.svg" alt="Dislike Button">
    </div>
    <div class="flex">
      <img src="../../assets/SVGs/Like.svg" alt="Dislike Button">
    </div>
  </div>
  <div class="flex justify-center mt-4">
    <img class="align-center" src="../../assets/SVGs/Line.svg">
  </div>
</div>


