
  <header class="pt-6">
    <div class="flex justify-center">
      <div class="max-w-[1200px] w-full px-2">
        <div class="flex justify-between cursor-pointer">
          <a routerLink="/" class="text-4xl font-extrabold">Outfitted.</a>
        </div>
      </div>
    </div>
  </header>
<section class="flex justify-center min-h-[900px] bg-primary_off_white">

  <div class="flex flex-col md:flex-row justify-between items-center w-full max-w-[1200px] px-4">
    <div class="flex justify-center md:justify-start w-full">
      <app-card
      [backgroundColor]="'bg-primary_off_white'"
      shadowColor="drop-shadow-[0_0_6px_rgba(0,0,0,0.2)]"
    ></app-card>
    </div>

    <div class="flex justify-center md:justify-end w-full pt-12 md:pt-0">
    <div class="flex-col">
      <a class="flex justify-end pb-10 font-bold text-sm text-primary_red" routerLink="/photo-search">Edit existing photo</a>
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div class="flex flex-col w-[325px] space-y-3 w-full">
          <input
            type="text"
            name="top"
            placeholder="Top"
            formControlName="top"
            class="bg-gray rounded-md h-10 w-full px-5 text-xs font-semibold"
          />
          <span
            class="text-xs font-semibold text-primary_red"
            *ngIf="!form.get('top')!.valid && form.get('top')!.touched"
            >Required field!</span
          >

          <input
            type="text"
            name="bottom"
            placeholder="Bottom"
            formControlName="bottom"
            class="bg-gray rounded-md h-10 w-full px-5 text-xs font-semibold"
          />
          <span
            class="text-xs font-semibold text-primary_red"
            *ngIf="!form.get('bottom')!.valid && form.get('bottom')!.touched"
            >Required field!</span
          >
          <input
            type="text"
            name="footwear"
            placeholder="Footwear"
            formControlName="footwear"
            class="bg-gray rounded-md h-10 w-full px-5 text-xs font-semibold"
          />
          <span
            class="text-xs font-semibold text-primary_red"
            *ngIf="!form.get('footwear')!.valid && form.get('footwear')!.touched"
            >Required field!</span
          >
          <input
            type="text"
            name="accessory"
            placeholder="Accessory"
            formControlName="accessory"
            class="bg-gray rounded-md h-10 w-full px-5 text-xs font-semibold"
          />
          <span
            class="text-xs font-semibold text-primary_red"
            *ngIf="!form.get('accessory')!.valid && form.get('accessory')!.touched"
            >Required field!</span
          >
          <input
            type="text"
            name="style"
            placeholder="Style"
            formControlName="style"
            class="bg-gray rounded-md h-10 w-full px-5 text-xs font-semibold"
          />
          <span
            class="text-xs font-semibold text-primary_red"
            *ngIf="!form.get('style')!.valid && form.get('style')!.touched"
            >Required field!</span
          >
          <input
            type="text"
            name="gender"
            placeholder="Gender"
            formControlName="gender"
            class="bg-gray rounded-md h-10 w-full px-5 text-xs font-semibold"
          />
          <span
            class="text-xs font-semibold text-primary_red"
            *ngIf="!form.get('gender')!.valid && form.get('gender')!.touched"
            >Required field!</span
          >

          <div class="flex pt-10 justify-end w-full">
            <button
              class="bg-primary_red text-secondary_off_white py-3 font-bold rounded-lg text-base w-1/2"
              routerLink="/main"
              >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
</div>
</div>
</section>
