<header>
  <div class="flex justify-center">
    <div class="max-w-[1200px] w-full">
      <div class="flex justify-between">
        <p class="text-4xl font-extrabold">Outfitted.</p>
        <div class="flex items-center">
          <p class="text-base font-bold">Micheal</p>
          <img class="w-[40px] h-[40px] rounded-full ml-3 drop-shadow-[0_0_2px_rgba(49,49,49,0.4)]"
            src="../../assets//Photos//Profile Placeholder.jpg" alt="">
        </div>

      </div>
    </div>
  </div>
</header>

<div class="flex justify-center py-24">
  <app-card [backgroundColor]="'bg-primary_off_white'" shadowColor="drop-shadow-[0_0_6px_rgba(0,0,0,0.2)]"></app-card>
</div>

<div class="flex justify-center">
  <div class="max-w-[1200px] flex justify-end w-full">
    <p class="text-sm font-base">Designed and developed by <b>Hussein</b></p>
  </div>
</div>
